# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ctypes
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
env/
ENV/
.env
.venv/

# Streamlit specific
.streamlit/secrets.toml

# IDE settings (VS Code, Pycharm)
.vscode/
.idea/

# Mac OS junk
.DS_Store
